{% extends 'base.html' %}

{% block app_content %}
{% for r in relais %}
<div class="row">
    <div class="col-md-12 text-center">
        <form method="POST" action="toggleRelais">
        <button type="submit" name="relaisName" class="switch btn btn-info" value="{{r.name}}">{{r.name}} ({% if isOn(r.failSafe, r.device.value) %}On{% else %}Off{% endif %})</button>
    </form>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-12 text-center">
        <form method="POST" action="restartService">
            <button type="submit" name="restart" class="switch btn btn-danger">Update and Restart</button>
        </form>
    </div>
</div>
{% endblock %}